.tudo{
        background: -webkit-linear-gradient(
          rgb(47, 79, 79),
          rgb(0, 191, 255),
          rgb(123, 104, 238)
        );
        font-family: sans-serif;
      }
.header{
    margin-bottom: 10px;    
}
.white{
    color:white;
}
.margem-left{
    margin-left: 10px;
}
.card{
    margin-bottom: 10px;
    
}

.pesquisa{
    margin-bottom:10px;
}

@media screen and (min-width:1000px){
.card {
    flex-direction: row;
  }
  .card img {
    width: 30%;
  }
}
